body{
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #eee;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 3;
}
#logo{
    display: inline-block;
    padding:20px 32px;
}
nav{
    float: right;
    margin-right: 50px;
}
#nav-ul{
    list-style: none;
}
#nav-ul li{
    display: inline-block;
    padding: 20px 32px;
}
/* ==================================================================== */
#hero{
    background-color: black;
    height: 60vh;
    color: #eee;
}
.left,.right{
    width: calc(50% - 4px);
    height: 100%;
    /* margin: 0 8px; */
    /* background-color: tomato; */
    display: inline-block;
}
.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left{
    float: left;
    padding: 50px 50px 24px 80px

}
.left h1, .left h2{
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 24px;
}
.left p{
    line-height: 1.8em;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 12px;
}
.left p:nth-of-type(2){
    color: aquamarine;
}
a{color:inherit}
.left button{
    margin-top: 24px;
    text-transform: capitalize;
    border: 1px solid #eee;
    width: 140px;
    height: 40px;
    background-color: transparent;
    color: inherit;
    cursor:pointer;
}
.container{
    padding:  40px 80px;
    margin: 0 auto;
    /* background-color: aquamarine; */
}
.container h2{
    margin: 24px 0;
}
.container .card{
    display: inline-block;
    width: 170px;
    height: 170px;
    position: relative;
    margin: 8px;
    color: transparent;
}
.card::after{
    content: "singer name";
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 44px);
}
.card:hover{
    background-color: rgba(200, 200, 200, 0.404);
    color: black;
}
.card img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.wide{
    width: 360px !important;
}
.singer{
    height: fit-content !important;
    text-align: center;
    padding: 14px;
    background-color: rgba(200, 200, 200, 0.404);
    color: black !important;
    font-weight: lighter;
}
.left2{
    float: left;
    width: calc(50% - 4px);
}
.right2{
    display: inline-block;
    width: calc(50% - 8px);
    padding: 80px;
}
.left2 h2 .right2 h2{ 
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 24px;
}
.left2 p, .right2 p{
    line-height: 1.8em;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 12px;

}
.left2 img{
    width: 100%;
    height: 100%;
}
.wider{
    width: 265px !important;
}
.stat{
    display: inline-block;
    margin-left: 16px;
}